<ion-header>
  <div class="header">
    <div class="header-upper-half">
      <div class="content">
        <div class="back-icon">
          <img src="../../../../../assets/svg/back-light.svg" alt="" />
        </div>
        <div class="heading">Sky Creation</div>
        <div class="share-icon">
          <img src="../../../../../assets/svg/share-light.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="header-lower-half">
      <div class="content">
        <div class="profile-details">
          <div class="name">Hiren Shiyani</div>
          <div class="stats">
            1225 Sales
            <span class="dot">
              <img src=",,/../../../../../../assets/svg/dot.svg" alt="" />
            </span>
            Since 2001
          </div>
        </div>
        <div class="follow-btn">
          <div>Follow</div>
        </div>
      </div>
    </div>
    <div class="profile-img">
      <img src="../../../../../assets/kkshi.jpg" alt="" />
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="new-products-heading"> New Products </ion-col>
      </ion-row>
    </ion-grid>
    <div class="new-product-row">
      <div class="new-product-card">
        <div class="new-product-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="new-product-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="new-product-card">
        <div class="new-product-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="new-product-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-product-row">
      <div class="new-product-card">
        <div class="new-product-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="new-product-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="new-product-card">
        <div class="new-product-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="new-product-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
