.header {
  height: 220px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  .header-upper-half {
    height: 50%;
    width: 100%;
    background-color: #f56400;
    color: #ffffff;
    padding: 15px;
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .back-icon {
        width: 28px;
        height: 28px;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 19.5px;
          height: 13px;
        }
      }
      .heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.02em;
      }
      .share-icon {
        width: 28px;
        height: 28px;
        position: relative;
        img {
          width: 15px;
          height: 16.6px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .header-lower-half {
    height: 50%;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    .content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .profile-details {
        .name {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
        }
        .stats {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.02em;
          color: #777777;
          .dot {
            display: inline-block;
            width: 8px;
            height: 8px;
            position: relative;
            img {
              height: 4px;
              width: 4px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
      .follow-btn {
        width: 110px;
        height: 36px;
        background: #ffffff;
        border: 1px solid #f56400;
        box-sizing: border-box;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #f56400;
      }
    }
  }
  .profile-img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.page {
  ion-grid {
    padding: 0;
    margin: 0;
    ion-col {
      padding: 0 !important;
    }
  }
  .new-products-heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .new-product-row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    .new-product-card {
      min-height: 224px;
      width: 48%;
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      border-radius: 7px;
      .new-product-card-img {
        height: 120px;
        border-radius: 7px 7px 0px 0px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 7px 7px 0px 0px;
        }
        .ad-btn {
          width: 30px;
          height: 18px;
          position: absolute;
          top: 10px;
          left: 10px;
          background: #ffffff;
          border: 1px solid #f56400;
          box-sizing: border-box;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          div {
            font-weight: 500;
            font-size: 8px;
            line-height: 9px;
            letter-spacing: 0.02em;
            color: #f56400;
          }
        }
        .heart-btn {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 20px;
          height: 20px;
          background: #ffffff;
          border-radius: 50%;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8.33px;
            height: 7.65px;
          }
        }
      }
      .new-product-card-stats {
        padding: 10px;
        .title {
          margin-top: 5px;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.02em;
          height: 16px;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .price {
          margin-top: 5px;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.02em;
        }
        .tag {
          margin-top: 4px;
          width: 55px;
          height: 14px;
          background: #26b834;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 8px;
          line-height: 9px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
        .vendor-details {
          margin-top: 7px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .vendor-name {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: #777777;
          }
          .vendor-options {
            height: 20px;
            width: 20px;
            position: relative;
            img {
              width: 3.33px;
              height: 13.33px;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}
