<ion-content>
  <ion-row>
    <ion-col class="otm-logo">
      <img src="../../../../assets/svg/OTM_logo.svg" class="mx-auto" alt="Logn">
    </ion-col>
  </ion-row>
  <div class="text-center sign-in-heading">
    Forgot Password ?
  </div>
  <div class="spacer">

  </div>
  <div class="desc">
    Enter your mobile number and we'll send you an OTP with instructions to reset your password.
  </div>
  <div class="form-container">
    <ion-row>
      <ion-col class="p-0">
        <input class="form-input" inputmode="tel" placeholder="Mobile No." />
      </ion-col>
    </ion-row>
    <div class="login-btn">
      <button>
        Send OTP
      </button>
    </div>
    <div class="account-ques">
      Back to 
      <span [routerLink]="['/login']">
        Login
      </span>
    </div>
  </div>
</ion-content>