.otm-logo {
  padding: 60px 0 30px 0;
  display: flex;
  justify-content: center;
}
.sign-in-heading {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  width: 100%;
  letter-spacing: 0.02em;
  color: #000000;
}

.spacer {
  margin: 10px auto 15px;
  background: #f56400;
  width: 60px;
  height: 3px;
}
.desc {
  font-family: "Graphik";
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
}

.login-btn {
  margin-top: 40px;
  button {
    background: #f56400;
    border-radius: 100px;
    font-family: "Graphik";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    height: 54px;
    width: 100%;
    color: #fff;
  }
}
.account-ques {
  margin-top: 15px;
  padding-bottom: 60px;
  width: 100%;
  text-align: center;
  font-family: "Graphik";
  font-style: normal;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  span {
    color: #f56400;
  }
}
