// ion-container {
//     height: 100%;
// }
.header {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  .back-icon {
    height: 20px;
    width: 20px;
    position: relative;
    img {
      width: 19.5px;
      height: 13px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .search-bar {
    height: 36px;
    width: 100%;
    background: #f6f6f6;
    border-radius: 7px;
    margin-left: 14px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    .search-icon {
      width: 22px;
      height: 22px;
      margin-right: 10px;
      position: relative;
      img {
        height: 16px;
        width: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .search-input {
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: #777777;
    }
  }
}

.search-match {
  font-weight: 500;
}

.search-suggestions {
  padding: 15px;
  .suggestion-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .suggestion-name {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #777777;
    }
    .auto-fill-btn {
      width: 16px;
      height: 16px;
    }
  }
}

.page {
    height: 100%;
  .result-heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
  }
  .result-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .result-img {
      width: 44px;
      height: 44px;
      margin-right: 15px;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .result-name {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
    }
    .result-description {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #777777;
      .dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        position: relative;
        img {
          height: 4px;
          width: 4px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
