<ion-header>
  <div class="header">
    <div class="back-icon" slot="start">
      <img src="../../../../../assets/svg/back.svg" alt="" />
    </div>
    <div class="search-bar">
      <div class="search-icon">
        <img src="../../../../../assets/svg/search.svg" alt="" />
      </div>
      <div class="search-input">
        <ion-input placeholder="Red"></ion-input>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="search-suggestions">
    <div class="suggestion-row">
      <div class="suggestion-name">
        <span class="search-match">Red</span> Jasper
      </div>
      <div class="auto-fill-btn">
        <img src="../../../../../assets/svg/auto-fill.svg" alt="" />
      </div>
    </div>
    <div class="suggestion-row">
      <div class="suggestion-name">
        <span class="search-match">Red</span> Jasper
      </div>
      <div class="auto-fill-btn">
        <img src="../../../../../assets/svg/auto-fill.svg" alt="" />
      </div>
    </div>
    <div class="suggestion-row">
      <div class="suggestion-name">
        <span class="search-match">Red</span> Jasper
      </div>
      <div class="auto-fill-btn">
        <img src="../../../../../assets/svg/auto-fill.svg" alt="" />
      </div>
    </div>
    <div class="suggestion-row">
      <div class="suggestion-name">
        <span class="search-match">Red</span> Jasper
      </div>
      <div class="auto-fill-btn">
        <img src="../../../../../assets/svg/auto-fill.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="page">
    <div class="result-heading">Shop Names containing “red”</div>
    <div class="result-row">
      <div class="result-img">
        <img src="../../../../../assets/search-result-01.png" alt="" />
      </div>
      <div class="result-stats">
        <div class="result-name">
          <span class="search-match">Red</span> Fascinator
        </div>
        <div class="result-description">
          Hiren Shiyani
          <span class="dot">
            <img src=",,/../../../../../../assets/svg/dot.svg" alt="" />
          </span>
          Shop owner
        </div>
      </div>
    </div>
    <div class="result-row">
      <div class="result-img">
        <img src="../../../../../assets/search-result-01.png" alt="" />
      </div>
      <div class="result-stats">
        <div class="result-name">
          <span class="search-match">Red</span> Fascinator
        </div>
        <div class="result-description">
          Hiren Shiyani
          <span class="dot">
            <img src=",,/../../../../../../assets/svg/dot.svg" alt="" />
          </span>
          Shop owner
        </div>
      </div>
    </div>
    <div class="result-row">
      <div class="result-img">
        <img src="../../../../../assets/search-result-01.png" alt="" />
      </div>
      <div class="result-stats">
        <div class="result-name">
          <span class="search-match">Red</span> Fascinator
        </div>
        <div class="result-description">
          Hiren Shiyani
          <span class="dot">
            <img src=",,/../../../../../../assets/svg/dot.svg" alt="" />
          </span>
          Shop owner
        </div>
      </div>
    </div>
    <div class="result-row">
      <div class="result-img">
        <img src="../../../../../assets/search-result-01.png" alt="" />
      </div>
      <div class="result-stats">
        <div class="result-name">
          <span class="search-match">Red</span> Fascinator
        </div>
        <div class="result-description">
          Hiren Shiyani
          <span class="dot">
            <img src=",,/../../../../../../assets/svg/dot.svg" alt="" />
          </span>
          Shop owner
        </div>
      </div>
    </div>
    <div class="result-row">
      <div class="result-img">
        <img src="../../../../../assets/search-result-01.png" alt="" />
      </div>
      <div class="result-stats">
        <div class="result-name">
          <span class="search-match">Red</span> Fascinator
        </div>
        <div class="result-description">
          Hiren Shiyani
          <span class="dot">
            <img src=",,/../../../../../../assets/svg/dot.svg" alt="" />
          </span>
          Shop owner
        </div>
      </div>
    </div>
  </div>
</ion-content>
