<ion-content>
  <ion-row>
    <ion-col class="otm-logo">
      <img src="../../../../assets/svg/OTM_logo.svg" class="mx-auto" alt="Logn">
    </ion-col>
  </ion-row>
  <div class="text-center sign-in-heading">
    Reset Password ?
  </div>
  <div class="spacer">

  </div>
  <div class="desc">
    We send you an OTP on mobile no. XXXXX XXX90. Please verify OTP and set new password.
  </div>
  <div class="form-container">
    <ion-row>
      <ion-col class="p-0">
        <input class="form-input" inputmode="tel" placeholder="Mobile No." />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="p-0">
        <div class="input-grp">
          <input class="form-input" inputmode="tel" placeholder="Password." />
          <div class="append">
            <img src="../../../../assets/svg/eye.svg" alt="eye">
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="p-0">
        <div class="input-grp">
          <input class="form-input" inputmode="tel" placeholder="Password." />
          <div class="append">
            <img src="../../../../assets/svg/eye.svg" alt="eye">
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div class="login-btn">
      <button [routerLink]="['/main/home']">
        Change Password
      </button>
    </div>
    <div class="account-ques">
      Back to
      <span [routerLink]="['/login']">
        Login
      </span>
    </div>
  </div>
</ion-content>