<ion-header>
  <ion-toolbar>
    <div class="header">
      <div class="header-logo">
        <img src="../../../../assets/svg/OTM_logo.svg" alt="" />
      </div>
      <div class="header-title">Home</div>
      <div class="header-search-icon">
        <img src="../../../../assets/svg/search.svg" alt="" />
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="safe-area page">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="top-card">
          <div class="top-card-heading">
            <div class="top-card-heading-img">
              <img src="../../assets/svg/collection-bookmark.svg" alt="" />
            </div>
            <div class="top-card-heading-txt">What's your style ?</div>
          </div>
          <div class="top-card-description">
            Fevorite helps Etsy provide unique recommendations. and data will
            recieve from the admin panel and all this data will change in admin
            so here also change.
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="our-picks-heading">Our picks for you</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-01.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-02.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-03.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-04.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-05.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-06.png" alt="" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" class="m-0 p-0">
          <button class="see-more">See More</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="suggested-shop-heading"
          >Suggested Shop</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="12" class="suggested-shop-carousel p-0 m-0">
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <div class="suggested-shop-carousel-card">
                <div class="suggested-shop-carousel-card-img">
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="suggested-shop-carousel-card-description">
                  <div class="suggested-shop-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="suggested-shop-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="suggested-shop-carousel-card">
                <div class="suggested-shop-carousel-card-img">
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="suggested-shop-carousel-card-description">
                  <div class="suggested-shop-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="suggested-shop-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="suggested-shop-carousel-card">
                <div class="suggested-shop-carousel-card-img">
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="suggested-shop-carousel-card-description">
                  <div class="suggested-shop-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="suggested-shop-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="suggested-shop-carousel-card">
                <div class="suggested-shop-carousel-card-img">
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="suggested-shop-carousel-card-description">
                  <div class="suggested-shop-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="suggested-shop-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="suggested-shop-carousel-card">
                <div class="suggested-shop-carousel-card-img">
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="suggested-shop-carousel-card-description">
                  <div class="suggested-shop-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="suggested-shop-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="suggested-shop-carousel-card">
                <div class="suggested-shop-carousel-card-img">
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="suggested-shop-carousel-card-description">
                  <div class="suggested-shop-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="suggested-shop-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="suggested-shop-carousel-card">
                <div class="suggested-shop-carousel-card-img">
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="suggested-shop-carousel-card-description">
                  <div class="suggested-shop-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="suggested-shop-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row class="editors-pick-container">
        <ion-col size="12" class="editors-pick">
          <div class="editors-pick-heading">Editor's Picks</div>
          <div class="editors-pick-title">Bride Collections</div>
          <div class="editors-pick-carousel">
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                <div class="editors-pick-carousel-card">
                  <div class="heart">
                    <img src="../../assets/svg/heart.svg" alt="" />
                  </div>
                  <img src="../../assets/ourPicks-01.png" alt="" />
                </div>
              </ion-slide>
              <ion-slide>
                <div class="editors-pick-carousel-card">
                  <div class="heart">
                    <img src="../../assets/svg/heart.svg" alt="" />
                  </div>
                  <img src="../../assets/ourPicks-02.png" alt="" />
                </div>
              </ion-slide>
              <ion-slide>
                <div class="editors-pick-carousel-card">
                  <div class="heart">
                    <img src="../../assets/svg/heart.svg" alt="" />
                  </div>
                  <img src="../../assets/ourPicks-03.png" alt="" />
                </div>
              </ion-slide>
              <ion-slide>
                <div class="editors-pick-carousel-card">
                  <div class="heart">
                    <img src="../../assets/svg/heart.svg" alt="" />
                  </div>
                  <img src="../../assets/ourPicks-04.png" alt="" />
                </div>
              </ion-slide>
              <ion-slide>
                <div class="editors-pick-carousel-card">
                  <div class="heart">
                    <img src="../../assets/svg/heart.svg" alt="" />
                  </div>
                  <img src="../../assets/ourPicks-05.png" alt="" />
                </div>
              </ion-slide>
              <ion-slide>
                <div class="editors-pick-carousel-card">
                  <div class="heart">
                    <img src="../../assets/svg/heart.svg" alt="" />
                  </div>
                  <img src="../../assets/ourPicks-06.png" alt="" />
                </div>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="popular-searches-heading"
          >Popular Searches</ion-col
        >
      </ion-row>
      <ion-row class="popular-searches-cards">
        <ion-col size="6" class="p-0 m-0">
          <div class="popular-searches-card">
            <div class="popular-searches-card-img">
              <img
                src="../../assets/suggested-shop-carousel-card-02.png"
                alt=""
              />
            </div>
            <div class="popular-searches-card-txt">Get Piggy with it</div>
          </div>
        </ion-col>
        <ion-col size="6" class="p-0 m-0">
          <div class="popular-searches-card">
            <div class="popular-searches-card-img">
              <img
                src="../../assets/suggested-shop-carousel-card-02.png"
                alt=""
              />
            </div>
            <div class="popular-searches-card-txt">Get Piggy with it</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="popular-searches-cards">
        <ion-col size="6" class="p-0 m-0">
          <div class="popular-searches-card">
            <div class="popular-searches-card-img">
              <img
                src="../../assets/suggested-shop-carousel-card-02.png"
                alt=""
              />
            </div>
            <div class="popular-searches-card-txt">Get Piggy with it</div>
          </div>
        </ion-col>
        <ion-col size="6" class="p-0 m-0">
          <div class="popular-searches-card">
            <div class="popular-searches-card-img">
              <img
                src="../../assets/suggested-shop-carousel-card-02.png"
                alt=""
              />
            </div>
            <div class="popular-searches-card-txt">Get Piggy with it</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="your-favs-heading">Your Favorite</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="your-favs-carousel">
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <div class="your-favs-carousel-card">
                <div class="your-favs-carousel-card-img">
                  <div class="heart">
                    <img src="../../assets/svg/heart-light.svg" alt="" />
                  </div>
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="your-favs-carousel-card-description">
                  <div class="your-favs-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="your-favs-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="your-favs-carousel-card">
                <div class="your-favs-carousel-card-img">
                  <div class="heart">
                    <img src="../../assets/svg/heart-light.svg" alt="" />
                  </div>
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="your-favs-carousel-card-description">
                  <div class="your-favs-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="your-favs-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="your-favs-carousel-card">
                <div class="your-favs-carousel-card-img">
                  <div class="heart">
                    <img src="../../assets/svg/heart-light.svg" alt="" />
                  </div>
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="your-favs-carousel-card-description">
                  <div class="your-favs-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="your-favs-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="your-favs-carousel-card">
                <div class="your-favs-carousel-card-img">
                  <div class="heart">
                    <img src="../../assets/svg/heart-light.svg" alt="" />
                  </div>
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="your-favs-carousel-card-description">
                  <div class="your-favs-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="your-favs-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="your-favs-carousel-card">
                <div class="your-favs-carousel-card-img">
                  <div class="heart">
                    <img src="../../assets/svg/heart-light.svg" alt="" />
                  </div>
                  <img
                    src="../../assets/suggested-shop-carousel-card-01.png"
                    alt=""
                  />
                </div>
                <div class="your-favs-carousel-card-description">
                  <div class="your-favs-carousel-card-description-heading">
                    Nilkanth Sarees & Kurtis
                  </div>
                  <div class="your-favs-carousel-card-description-txt">
                    Total Selling: 125
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" class="m-0 p-0">
          <button class="see-more">See More</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="our-picks-heading">Best Collections</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-01.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-02.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-03.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-04.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-05.png" alt="" />
          </div>
        </ion-col>
        <ion-col size="6" class="our-picks">
          <div>
            <div class="heart">
              <img src="../../assets/svg/heart.svg" alt="" />
            </div>
            <img src="../../assets/ourPicks-06.png" alt="" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" class="m-0 p-0">
          <button class="see-more">See More</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
