.header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-logo {
    width: 36px;
    height: 36px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .header-search-icon {
    height: 24px;
    width: 24px;
    position: relative;
    img {
      width: 17.5px;
      height: 17.5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.page {
  background-color: #f6f6f6;
  // margin: -5px;
  ion-grid {
    padding: 0;
    margin: 0;
  }
  .top-card {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    .top-card-heading {
      display: flex;
      font-family: Graphik;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      align-items: center;
      .top-card-heading-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f56400;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .top-card-heading-txt {
        margin-left: 15px;
      }
    }
    .top-card-description {
      margin-top: 10px;
      font-family: "Graphik";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }
  }
  .our-picks-heading {
    font-weight: 500;
    padding: 0;
    font-size: 14px;
    margin: 15px 0;
    font-family: "Graphik";
    font-style: normal;
  }
  .our-picks {
    div {
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
      border-radius: 7px;
      height: 130px;
      overflow: hidden;
      position: relative;
      .heart {
        height: 26px;
        width: 26px;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #fff;
        border-radius: 50%;
        z-index: 10;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 12px;
          height: 11px;
        }
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .see-more {
    margin-top: 15px;
    height: 44px;
    width: 100%;
    border: 1px solid #f56400;
    border-radius: 100px;
    font-family: "Graphik";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #f56400;
    background-color: #ffffff;
  }
  .suggested-shop-heading {
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    line-height: 22px;
    margin: 15px 0;
    letter-spacing: 0.02em;
  }
  .suggested-shop-carousel-card {
    height: 156px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    margin-right: 15px;
    .suggested-shop-carousel-card-img {
      width: 100%;
      height: 80px;
      border-radius: 7px 7px 0px 0px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .suggested-shop-carousel-card-description {
      padding: 10px;
      .suggested-shop-carousel-card-description-heading {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
      }
      .suggested-shop-carousel-card-description-txt {
        margin-top: 5px;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: #777777;
      }
    }
  }
  .editors-pick-container {
    height: 214px;
    width: 100vw;
    margin: 15px -20px 0;
    padding: 8px 15px;
    background-image: url("../../../../assets/editors-pick-background.png");
    .editors-pick {
      height: 198px;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      border-radius: 7px;
      padding: 15px 0;
      .editors-pick-heading {
        margin-left: 15px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
      }
      .editors-pick-title {
        margin-left: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.02em;
      }
      .editors-pick-carousel {
        margin-top: 15px;
        .editors-pick-carousel-card {
          margin: 0 7.5px;
          height: 110px;
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
          border-radius: 7px;
          position: relative;
          .heart {
            height: 26px;
            width: 26px;
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: #fff;
            border-radius: 50%;
            z-index: 10;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 12px;
              height: 11px;
            }
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 7px;
          }
        }
      }
    }
  }
  .your-favs-heading {
    font-weight: 500;
    font-size: 14px;
    padding: 15px 0;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .your-favs-carousel-card {
    height: 156px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    margin-right: 15px;
    .your-favs-carousel-card-img {
      width: 100%;
      height: 80px;
      border-radius: 7px 7px 0px 0px;
      position: relative;
      .heart {
        height: 26px;
        width: 26px;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #f56400;
        border-radius: 50%;
        z-index: 10;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 12px;
          height: 11px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .your-favs-carousel-card-description {
      padding: 10px;
      .your-favs-carousel-card-description-heading {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
      }
      .your-favs-carousel-card-description-txt {
        margin-top: 5px;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: #777777;
      }
    }
  }
  .popular-searches-heading {
    font-weight: 500;
    padding: 15px 0;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .popular-searches-cards {
    ion-col {
      padding-right: 7.5px !important;
    }
    ion-col + ion-col {
      padding-right: 0 !important;
      padding-left: 7.5px !important;
    }
  }
  .popular-searches-cards + .popular-searches-cards {
    ion-col {
      padding-top: 15px !important;
    }
  }
  .popular-searches-card {
    padding: 5px;
    height: 45px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    display: flex;
    align-items: center;
    .popular-searches-card-img {
      height: 35px;
      width: 35px;
      border-radius: 5px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .popular-searches-card-txt {
      margin-left: 10px;
      font-weight: 500;
      font-size: 8px;
      line-height: 14px;
      letter-spacing: 0.02em;
    }
  }
}
