<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs (ionTabsDidChange)="tabCange($event)">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 3.91303L17.5385 9.04425V17.9498H15.3231V11.1081H8.67694V17.9498H6.46156V9.04425L12 3.91303ZM12 0.845703L0.923096 11.1081H4.24617V20.2303H10.8923V13.3887H13.1077V20.2303H19.7539V11.1081H23.0769L12 0.845703Z"
            fill="#777777" />
        </svg>
      </ion-tab-button>

      <ion-tab-button tab="chat">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13 2V9H3.17L2.58 9.59L2 10.17V2H13ZM14 0H1C0.45 0 0 0.45 0 1V15L4 11H14C14.55 11 15 10.55 15 10V1C15 0.45 14.55 0 14 0ZM19 4H17V13H4V15C4 15.55 4.45 16 5 16H16L20 20V5C20 4.45 19.55 4 19 4Z"
            fill="#777777" />
        </svg>
      </ion-tab-button>

      <ion-tab-button tab="orders">
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16.3627 12.5226C17.1586 12.5226 17.859 12.0874 18.2197 11.4292L22.0186 4.53986C22.4113 3.83924 21.9019 2.96878 21.0955 2.96878H5.39051L4.39304 0.845703H0.923096V2.96878H3.04538L6.8655 11.0259L5.43296 13.616C4.65832 15.0385 5.67702 16.7688 7.28996 16.7688H20.0237V14.6457H7.28996L8.45722 12.5226H16.3627ZM6.3986 5.09186H19.2915L16.3627 10.3995H8.91351L6.3986 5.09186ZM7.28996 17.8303C6.1227 17.8303 5.17829 18.7857 5.17829 19.9534C5.17829 21.1211 6.1227 22.0765 7.28996 22.0765C8.45722 22.0765 9.41225 21.1211 9.41225 19.9534C9.41225 18.7857 8.45722 17.8303 7.28996 17.8303ZM17.9014 17.8303C16.7341 17.8303 15.7897 18.7857 15.7897 19.9534C15.7897 21.1211 16.7341 22.0765 17.9014 22.0765C19.0687 22.0765 20.0237 21.1211 20.0237 19.9534C20.0237 18.7857 19.0687 17.8303 17.9014 17.8303Z"
            fill="#777777" />
        </svg>
      </ion-tab-button>

      <ion-tab-button tab="shopping-cart">
        <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16 5H14C14 2.24 11.76 0 9 0C6.24 0 4 2.24 4 5H2C0.9 5 0 5.9 0 7V19C0 20.1 0.9 21 2 21H16C17.1 21 18 20.1 18 19V7C18 5.9 17.1 5 16 5ZM9 2C10.66 2 12 3.34 12 5H6C6 3.34 7.34 2 9 2ZM16 19H2V7H16V19ZM9 11C7.34 11 6 9.66 6 8H4C4 10.76 6.24 13 9 13C11.76 13 14 10.76 14 8H12C12 9.66 10.66 11 9 11Z"
            fill="#777777" />
        </svg>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM5.07 16.28C5.5 15.38 8.12 14.5 10 14.5C11.88 14.5 14.51 15.38 14.93 16.28C13.57 17.36 11.86 18 10 18C8.14 18 6.43 17.36 5.07 16.28ZM16.36 14.83C14.93 13.09 11.46 12.5 10 12.5C8.54 12.5 5.07 13.09 3.64 14.83C2.62 13.49 2 11.82 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 11.82 17.38 13.49 16.36 14.83ZM10 4C8.06 4 6.5 5.56 6.5 7.5C6.5 9.44 8.06 11 10 11C11.94 11 13.5 9.44 13.5 7.5C13.5 5.56 11.94 4 10 4ZM10 9C9.17 9 8.5 8.33 8.5 7.5C8.5 6.67 9.17 6 10 6C10.83 6 11.5 6.67 11.5 7.5C11.5 8.33 10.83 9 10 9Z"
            fill="#777777" />
        </svg>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>