<ion-header>
  <div class="header">
    <div class="header-logo">
      <img src="../../../../assets/svg/OTM_logo.svg" alt="" />
    </div>
    <div class="header-title">Order Management</div>
    <div class="header-search-icon">
      <img src="../../../../assets/svg/bell.svg" alt="" />
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="page">
    <div class="order-categories">
      <div class="btn">
        <div>New Order</div>
      </div>
      <div class="btn">
        <div>On Hold</div>
      </div>
      <div class="btn">
        <div>On Going</div>
      </div>
      <div class="btn selected">
        <div>Completed</div>
      </div>
    </div>

    <div class="order-detail-card">
      <div class="stats">
        <div class="d-f">
          <div>
            <div class="order-num">Order# SKU00123</div>
            <div class="vendor-name">Vendor name</div>
          </div>
          <div class="date-tag">
            <div>7th Jul 2021</div>
          </div>
        </div>
        <div class="d-f">
          <div class="quantity">Quantity: 2</div>
          <div class="total">Total: $302.50</div>
          <div class="show-more">
            Show more
            <span>
              <img src="../../../../assets/svg/right-arrow.svg" alt="" />
            </span>
          </div>
        </div>
      </div>
      <div class="delivery">
        <div class="status success">Delivered: 15th Jul 2021</div>
      </div>
    </div>
    <div class="order-detail-card">
      <div class="stats">
        <div class="d-f">
          <div>
            <div class="order-num">Order# SKU00123</div>
            <div class="vendor-name">Vendor name</div>
          </div>
          <div class="date-tag">
            <div>7th Jul 2021</div>
          </div>
        </div>
        <div class="d-f">
          <div class="quantity">Quantity: 2</div>
          <div class="total">Total: $302.50</div>
          <div class="show-more">
            Show more
            <span>
              <img src="../../../../assets/svg/right-arrow.svg" alt="" />
            </span>
          </div>
        </div>
      </div>
      <div class="delivery">
        <div class="status canceled">Canceled: 15th Jul 2021 (By Vendor)</div>
      </div>
    </div>
    <div class="order-detail-card">
      <div class="stats">
        <div class="d-f">
          <div>
            <div class="order-num">Order# SKU00123</div>
            <div class="vendor-name">Vendor name</div>
          </div>
          <div class="date-tag">
            <div>7th Jul 2021</div>
          </div>
        </div>
        <div class="d-f">
          <div class="quantity">Quantity: 2</div>
          <div class="total">Total: $302.50</div>
          <div class="show-more">
            Show more
            <span>
              <img src="../../../../assets/svg/right-arrow.svg" alt="" />
            </span>
          </div>
        </div>
      </div>
      <div class="delivery">
        <div class="status canceled">Canceled: 15th Jul 2021 (By Reseller)</div>
      </div>
    </div>
    <div class="order-detail-card">
      <div class="stats">
        <div class="d-f">
          <div>
            <div class="order-num">Order# SKU00123</div>
            <div class="vendor-name">Vendor name</div>
          </div>
          <div class="date-tag">
            <div>7th Jul 2021</div>
          </div>
        </div>
        <div class="d-f">
          <div class="quantity">Quantity: 2</div>
          <div class="total">Total: $302.50</div>
          <div class="show-more">
            Show more
            <span>
              <img src="../../../../assets/svg/right-arrow.svg" alt="" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-btn">
    <div>
      <img src="../../../../assets/svg/filter-light.svg" alt="">
    </div>
  </div>
</ion-content>
