.header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-logo {
    width: 36px;
    height: 36px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .header-search-icon {
    height: 24px;
    width: 24px;
    position: relative;
    img {
      width: 19.94px;
      height: 19.5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.page {
  .order-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      width: 86px;
      height: 30px;
      border-radius: 100px;
      position: relative;
      div {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #777777;
      }
    }
    .selected {
      background-color: #f56400;
      div {
        color: #ffffff;
      }
    }
  }
  .order-detail-card {
    min-height: 89px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    margin-top: 15px;
    padding: 0 15px;
    .stats {
      padding: 15px 0;
      .order-num {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: #777777;
      }
      .vendor-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
      }
      .date-tag {
        width: 86px;
        height: 24px;
        background: #26b834;
        border-radius: 100px;
        position: relative;
        div {
          width: fit-content;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 500;
          font-size: 10px;
          line-height: 14px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
      }
      .quantity,
      .total,
      .show-more {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #777777;
      }
      .show-more {
        color: #f56400;
      }
    }
    .delivery {
      padding: 15px 0;
      border-top: 1px solid rgba(188, 188, 188, 0.3);
      .status {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.02em;
      }
      .success {
        color: #26b834;
      }
      .canceled {
        color: #e90000;
      }
    }
  }
}

.d-f {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #f56400;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 19.89px;
    height: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
