<ion-header>
  <div class="header">
    <div class="back-icon">
      <img src="../../../../../assets/svg/back.svg" alt="" />
    </div>
    <div class="header-title">14k Yellow Gold 5MM Ro...</div>
    <div class="share-btn">
      <div>
        <img src="../../../../../assets/svg/share.svg" alt="" />
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="page">
    <div class="product-image">
      <img src="../../../../../assets/new-product-01.png" alt="" />
      <div class="heart-btn">
        <img src="../../../../../assets/svg/hear-lightt.svg" alt="" />
      </div>
      <div class="search-btn">
        <img src="../../../../../assets/svg/search-product.svg" alt="" />
      </div>
    </div>
    <div class="product-title">
      14k Yellow Gold 5MM Round Hollow Hoop Earrings Snap Closure Thick
      Lightweight Small Classic Hoo...
    </div>
  </div>
</ion-content>
