.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .back-icon {
    width: 20px;
    height: 20px;
    position: relative;
    img {
      width: 19.5px;
      height: 13px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .share-btn {
    width: 15px;
    height: 16.66px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.page {
  .product-image {
    margin: -15px;
    height: 290px;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .heart-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 32px;
      height: 32px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13.33px;
        height: 12.23px;
      }
    }
    .search-btn {
      position: absolute;
      top: 15px;
      right: 57px;
      width: 32px;
      height: 32px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 11.66px;
        height: 11.66px;
      }
    }
  }
  .product-title {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    margin-top: 30px;
  }
}
