<ion-content>
  <ion-row>
    <ion-col class="otm-logo">
      <img src="../../../../assets/svg/OTM_logo.svg" class="mx-auto" alt="Logn">
    </ion-col>
  </ion-row>
  <div class="text-center sign-in-heading">
    Sign in to Continue
  </div>
  <div class="spacer">

  </div>
  <div class="desc">
    Enter your mobile number and password to access account.
  </div>
  <div class="form-container">
    <ion-row>
      <ion-col class="p-0">
        <input class="form-input" inputmode="tel" placeholder="Mobile No." />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="p-0">
        <div class="input-grp">
          <input class="form-input" inputmode="tel" placeholder="Password." />
          <div class="append">
            <img src="../../../../assets/svg/eye.svg" alt="eye">
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div class="options">
      <ion-row>
        <ion-col size="6" class="remember-me p-0">
          <ion-checkbox mode="md"></ion-checkbox> <span>
            Remeber Me
          </span>
        </ion-col>
        <ion-col size="6" [routerLink]="['/forgot-password']" class="forgot-pass p-0">
          Forgot Password?
        </ion-col>
      </ion-row>
    </div>
    <div class="login-btn">
      <button [routerLink]="['/main/home']">
        Sign in
      </button>
    </div>
    <div class="account-ques">
      Don’t have an Account?
      <span [routerLink]="['/register']">
        Register
      </span>
    </div>
  </div>
</ion-content>