<div class="p-0 start-page">
  <div class="upper-card p-0 m-0">
    <img src="../../../../assets/svg/store.svg" class="welcome-image" alt="Welcome Image" title="Welcome Image">
  </div>
  <ion-card class="m-0 lower-card">
    <h3>
      Enter Heading here
    </h3>
    <p>
      Now it is easy to earn money. just use the translator and collect the points.
    </p>
    <button class="login-btn" [routerLink]="['/login']">Login</button>
    <button class="get-started-btn" [routerLink]="['/register']">Get Started</button>
  </ion-card>
</div>