.start-page {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  .upper-card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60%;
    text-align: center;
    .welcome-image {
      margin: 0 auto;
      width: 300px;
      max-width: 75%;
    }
  }
  .lower-card {
    padding: 40px 20px;
    flex: 1/2;
    box-shadow: none;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    background-color: #f6f6f6;
    min-height: 40%;
    h3 {
      margin: 0;
      font-family: "Graphik";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: #000;
    }
    .login-btn {
      margin: 30px 0 20px 0;
      display: block;
      width: 100%;
      background: #f6f6f6;
      color: #f56400;
      font-family: Graphik;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      height: 54px;
      border: 2px solid #f56400;
      box-sizing: border-box;
      border-radius: 100px;
    }
    .get-started-btn {
      background: #f56400;
      border-radius: 100px;
      display: block;
      width: 100%;
      font-family: Graphik;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      height: 54px;
    }
    p {
      font-family: Graphik;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      color: #777;
      margin-bottom: 0;
      text-align: center;
      letter-spacing: 0.02em;
    }
  }
}
