.header {
  padding: 15px;
  width: 100%;
  position: relative;
  .back-icon {
    height: 20px;
    width: 20px;
    position: relative;
    img {
      width: 19.5px;
      height: 13px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    // justify-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.page {
  .result-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .categories {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.02em;
    }
    .no-of-items {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }
  }
  .our-pick-row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    .our-pick-card {
      min-height: 224px;
      width: 48%;
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      border-radius: 7px;
      .our-pick-card-img {
        height: 120px;
        border-radius: 7px 7px 0px 0px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 7px 7px 0px 0px;
        }
        .ad-btn {
          width: 30px;
          height: 18px;
          position: absolute;
          left: 10px;
          top: 11px;
          background: #ffffff;
          border: 1px solid #f56400;
          box-sizing: border-box;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          div {
            font-weight: 500;
            font-size: 8px;
            line-height: 9px;
            letter-spacing: 0.02em;
            color: #f56400;
          }
        }
        .heart-btn {
          position: absolute;
          right: 10px;
          top: 10px;
          width: 20px;
          height: 20px;
          background: #ffffff;
          border-radius: 50%;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8.33px;
            height: 7.65px;
          }
        }
      }
      .our-pick-card-stats {
        padding: 10px;
        .title {
          height: 16px;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 5px;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.02em;
        }
        .price {
          margin-top: 5px;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.02em;
        }
        .tag {
          margin-top: 4px;
          width: 55px;
          height: 14px;
          background: #26b834;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 8px;
          line-height: 9px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
        .vendor-details {
          margin-top: 7px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .vendor-name {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: #777777;
          }
          .vendor-options {
            height: 20px;
            width: 20px;
            position: relative;
            img {
              width: 3.33px;
              height: 13.33px;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}

.option-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #f56400;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 19.5px;
    height: 13px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
