<ion-header>
  <ion-toolbar>
    <div class="header">
      <div class="back-icon">
        <img src="../../../../../assets/svg/back.svg" alt="" />
      </div>
      <div class="title">Red Fascinator</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page">
    <div class="result-stats">
      <div class="categories">All Categories</div>
      <div class="no-of-items">1,22,504 items</div>
    </div>
    <div class="our-pick-row">
      <div class="our-pick-card">
        <div class="our-pick-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="our-pick-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="our-pick-card">
        <div class="our-pick-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="our-pick-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="our-pick-row">
      <div class="our-pick-card">
        <div class="our-pick-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="our-pick-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="our-pick-card">
        <div class="our-pick-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="our-pick-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="our-pick-row">
      <div class="our-pick-card">
        <div class="our-pick-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="our-pick-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="our-pick-card">
        <div class="our-pick-card-img">
          <img src="../../../../../assets/new-product-01.png" alt="" />
          <div class="ad-btn">
            <div>Ad</div>
          </div>
          <div class="heart-btn">
            <img src="../../../../../assets/svg/heart.svg" alt="" />
          </div>
        </div>
        <div class="our-pick-card-stats">
          <div class="title">3 Sisters Keychain, Big...</div>
          <div class="price">US$ 107.25</div>
          <div class="tag"><div>Bestseller</div></div>
          <div class="vendor-details">
            <div class="vendor-name">Ad by Vendor name</div>
            <div class="vendor-options">
              <img src="../../../../../assets/svg/options.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="option-btn">
    <div>
      <img src="../../../../../assets/svg/options-hr.svg" alt="" />
    </div>
  </div>
</ion-content>
