/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-BlackItalic.woff") format("woff"),
    url("./assets/fonts/Graphik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Black.woff") format("woff"),
    url("./assets/fonts/Graphik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Bold.woff") format("woff"),
    url("./assets/fonts/Graphik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-BoldItalic.woff") format("woff"),
    url("./assets/fonts/Graphik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-ExtralightItalic.woff") format("woff"),
    url("./assets/fonts/Graphik-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Extralight.woff") format("woff"),
    url("./assets/fonts/Graphik-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Light.woff") format("woff"),
    url("./assets/fonts/Graphik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Medium.woff") format("woff"),
    url("./assets/fonts/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-LightItalic.woff") format("woff"),
    url("./assets/fonts/Graphik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-MediumItalic.woff") format("woff"),
    url("./assets/fonts/Graphik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Regular.woff") format("woff"),
    url("./assets/fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-RegularItalic.woff") format("woff"),
    url("./assets/fonts/Graphik-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Semibold.woff") format("woff"),
    url("./assets/fonts/Graphik-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-SemiboldItalic.woff") format("woff"),
    url("./assets/fonts/Graphik-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Graphik Super";
  src: url("./assets/fonts/Graphik-Super.woff") format("woff"),
    url("./assets/fonts/Graphik-Super.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Thin.woff") format("woff"),
    url("./assets/fonts/Graphik-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-SuperItalic.woff") format("woff"),
    url("./assets/fonts/Graphik-SuperItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-ThinItalic.woff") format("woff"),
    url("./assets/fonts/Graphik-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: "Graphik";
  &::-webkit-scrollbar {
    width: 0;
  }
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.safe-area {
  padding: 20px 20px !important;
}

// .bg {
//   background-color: #f6f6f6;
// }

.page {
  padding: 15px;
  background-color: #f6f6f6;
}

.text-center {
  text-align: center !important;
}
.input-grp {
  position: relative;
  .append {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
  }
}
.form-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #777777;
  box-sizing: border-box;
  border-radius: 3px;
}
.form-input {
  margin-top: 20px;
  padding: 15px 30px !important ;
  border: 1px solid #777777;
  border-radius: 7px;
  font-size: 16px;
  outline: none !important;
  height: 54px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &::placeholder {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 500;
    color: #777777;
    font-size: 16px;
    line-height: 24px;
  }
  &:focus {
    border-color: #f56400;
  }
  .otp-request {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.02em;
  }
  .otp-verify {
    height: 24px;
    width: 24px;
    border-radius: 20px;
    background-color: #26b834;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.form-container {
  padding: 0 20px;
}

.header-md {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  &::after {
    background-image: none !important;
  }
}
.swiper-pagination.swiper-pagination-bullets {
  display: none;
}

ion-header {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.toolbar-container {
  padding: 0 !important;
}
