<ion-content>
  <div class="safe-area">
    <ion-grid fixed class="register-page">
      <div (click)="back()" class="back">
        <img src="../../../../assets/svg/back.svg" alt="back">
      </div>
      <ion-row>
        <ion-col class="p-0">
          <div class="title">Create an account</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="p-0">
          <div class="sub-title">
            Do not have an account? Create your account, it takes less than a
            minute
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="avatar-row">
          <div class="new-user-avatar">
            <ion-avatar>
              <img src="../../assets/user.png" />
            </ion-avatar>
            <div class="edit-user-avatar">
              <img src="../../assets/svg/add.svg" alt="" />
            </div>
          </div>
          <div class="user-avatar ion-hide">
            <ion-avatar>
              <img src="../../assets/kkshi.jpg" />
            </ion-avatar>
            <div class="edit-user-avatar">
              <div>
                <img src="../../assets/svg/pencil.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="desc">

            Upload your profile picture here
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="p-0" size="12">
          <input class="form-input" inputmode="text" type="text" placeholder="First Name" />
        </ion-col>
        <ion-col class=" p-0" size="12">
          <input inputmode="text" class="form-input" type="text" placeholder="Last Name" />
        </ion-col>
        <ion-col class="p-0" size="12">
          <input class="form-input" inputmode="tel" placeholder="Mobile No." />
        </ion-col>
        <ion-col class="p-0" size="12">
          <input class="form-input" type="text" placeholder="Enter OTP here" />
          <!-- <div class="otp-verify">
            <img src="../../assets/tick.svg" alt="" />
          </div> -->
        </ion-col>
        <ion-col class="p-0" size="12">
          <input class="form-input" inputmode="email" type="email" placeholder="Emial Id" />
        </ion-col>
        <ion-col class="p-0" size="12">
          <div class="input-grp">
            <input class="form-input" inputmode="tel" placeholder="Password." />
            <div class="append">
              <img src="../../../../assets/svg/eye.svg" alt="eye">
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center terms-checkbox">
        <ion-col class="p-0" size="1">
          <ion-checkbox mode="md"></ion-checkbox>
        </ion-col>
        <ion-col class="p-0" size="10">
          <ion-text class="checkbox-label">I Agree to <ion-text color="primary">Terms & Conditions</ion-text>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button class="register-btn" type="submit">
            Register
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="login-line ion-text-center">
          Already have an Account? <ion-text [routerLink]="['/login']" color="primary"> Login </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>