ion-grid {
  padding: 0 00px 30px;
}
.title {
  font-family: Graphik;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.02em;
  position: relative;
}

.sub-title {
  margin: 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.avatar-row {
  margin: 0;
  align-items: center;
  padding: 0;
  display: flex;
  .desc {
    padding-left: 20px;
    font-family: "Graphik";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;

    color: #777777;
  }
}

.new-user-avatar {
  width: 110px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 110px;
  height: 110px;
  // flex: ;
  position: relative;
  ion-avatar {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #777777;
    position: relative;
    img {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .edit-user-avatar {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.user-avatar {
  width: 110px;
  height: 110px;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 110px;
  ion-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #777777;
  }
  .edit-user-avatar {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    background-color: #f56400;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      width: 15px;
      height: 15px;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.p-0 {
  padding: 0;
}
.terms-checkbox {
  margin-top: 20px;
  padding-left: 20px;
}

.checkbox-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #777777;
  border: none;
  margin-left: 10px;
}

.register-btn {
  margin-top: 30px;
  padding: 0 13px;
  height: 54px;
  color: #fff;
  width: 100%;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  background: #f56400;
  border-radius: 100px;
}

.login-line {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.back {
  margin: 10px 0;
}
