.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .back-icon {
    width: 20px;
    height: 20px;
    position: relative;
    img {
      width: 19.5px;
      height: 13px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .reset-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #f56400;
  }
}

.filter-type {
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  margin-bottom: 15px;
  padding-bottom: 10px;
  .filter-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .filter-options {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #777777;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.show-result-btn {
  height: 54px;
  background: #f56400;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}
