<ion-header>
  <div class="header">
    <div class="back-icon">
      <img src="../../../../../assets/svg/back.svg" alt="" />
    </div>
    <div class="header-title">Filter</div>
    <div class="reset-btn">Reset</div>
  </div>
</ion-header>

<ion-content>
  <div class="page">
    <div class="filter-type">
      <div class="filter-name">Sort by</div>
      <div class="filter-options">
        <div>Relevence</div>
        <div class="down-arrow">
          <img src="../../../../../assets/svg/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="filter-type">
      <div class="filter-name">Category</div>
      <div class="filter-options">
        <div>Statement Rings</div>
        <div class="down-arrow">
          <img src="../../../../../assets/svg/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="filter-type">
      <div class="filter-name">Item Type</div>
      <div class="filter-options">
        <div>All items</div>
        <div class="down-arrow">
          <img src="../../../../../assets/svg/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="filter-type">
      <div class="filter-name">Price</div>
      <div class="filter-options">
        <div>Any price</div>
        <div class="down-arrow">
          <img src="../../../../../assets/svg/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="filter-type">
      <div class="filter-name">Shipping</div>
      <div class="filter-options">
        <div>Free</div>
        <div class="down-arrow">
          <img src="../../../../../assets/svg/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="filter-type">
      <div class="filter-name">Shop Location</div>
      <div class="filter-options">
        <div>Anywhere</div>
        <div class="down-arrow">
          <img src="../../../../../assets/svg/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="filter-type">
      <div class="filter-name">Recipient</div>
      <div class="filter-options">
        <div>Select</div>
        <div class="down-arrow">
          <img src="../../../../../assets/svg/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="filter-type">
      <div class="filter-name">Material</div>
      <div class="filter-options">
        <div>Select</div>
        <div class="down-arrow">
          <img src="../../../../../assets/svg/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="filter-type">
      <div class="filter-name">Gemstone</div>
      <div class="filter-options">
        <div>Select</div>
        <div class="down-arrow">
          <img src="../../../../../assets/svg/down-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="show-result-btn">
      <div>Show Result</div>
    </div>
  </div>
</ion-content>
